<div class="chores">
    <h3>Chores</h3>
      <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <hr>
    <div class="doneChores" >
        <h3>Done Chores</h3>
        <ul>
            <li *ngFor = 'let done of finishedChores'>{{done}}</li>
        </ul>
        <img src="{{targetImage}}">
        <hr>
        </div>
    <h1 *ngIf ="chores.length === 0 && finishedChores.length >= 4; else done ">"Ice cream treat!"</h1>
    </div>
    

<ng-template #done>
    <div class='done'>
    <h3>To earn an icecream treat:</h3>
    <p>The chores list must be empty</p>
    <p>The done list must have at least 4 items</p>
</div>
</ng-template>

